@import "./variables";

.new-post {
  font-size: 16pt;
  font-weight: bold;
  text-decoration: none;
  color: $fifth;
  background-color: $secondary;
  border-radius: 15px;
  padding: 15px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: $fifth;
    color: darken($secondary, 10%);
  }
}